@import 'icomoon';
@import "variables";

html * {
	font-family: Nunito;
	outline: none !important;
	-webkit-font-smoothing: antialiased;
	font-size: large;

	@media screen and (max-width: 768px) {
		font-size: unset;
	}
}

body {
	margin: 0;
	color: $textColor;
}

.App {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: $appBackgroundColor;
	overflow: hidden;
}

.ContentContainer {
	min-height: calc(100vh - 62px);
	padding: 25px;
	background-color: $appBackgroundColor;

	@media screen and (max-width: 920px) {
		padding: 25px 20px;
	}
}

.Page_Header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
    height: 60px;
	background-color: $appBackgroundColor;

	.Page_Header_BackPath {
        cursor: pointer;
        color: $primaryColor;

        em {
            margin-right: 10px;
        }
    }
}