// General App Variables
$primaryColor: #11233d;
$lightPrimary: #1f385a;
$secondaryColor: #ffad6f;
$lightSecondary: #ffd676;
$appBackgroundColor: #e6e6e6;
$textColor: #11233d;

// Font sizes
$xs: 8px;
$s: 10px;
$m: 12px;
$ml: 14px;
$l: 16px;
$xl: 20px;
$xxl: 23px;
$priceSize: 26px;

// Icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts/Icomoon" !default;

$moon-baixa: "\e922";
$moon-back: "\e9a0";
