@import '../../styles/variables';

.CryptoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    height: 125px;

    img {
        height: 50px;
        width: 50px;
    }

    .Crypto_Info {
        display: flex;
        align-items: center;

        .Change24Indicator {
            height: 25px;
            width: 19px;
            scale: 0.7;

            &.Rotate {
                transform: rotate(180deg);
            }

            @media screen and (max-width: 768px) {
                height: 15px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 10px 20px;
    }
}

.Crypto_Data {
    display: flex;
    width: 100%;

    .Crypto_Data_Info {
        align-items: center;
        min-width: 25%;
        color: $primaryColor;

        .Crypto_Info_Title {
            font-weight: bold;
            color: #777;
        }
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;

        :nth-child(3n) {
            padding-left: 60px;
        }

        .Crypto_Data_Info:nth-child(2n-1) {
            min-width: 60%;
        }
        .Crypto_Data_Info:nth-child(2n) {
            min-width: 40%;
        }
    }
}

.Crypto_Header {
    margin-left: 10px;

    .Crypto_Short {
        color: #777;
    }
}